{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h4>{{=T('CRUD Tables')}}</h4>

<h5>{{=T('Be careful viewing the large tables such as VLAN, Netblock & IP Address as there is no paging...')}}</h5>

<ul>
{{import re}}
{{r = re.compile('([a-z_]*_archive$)|^auth_*')}}
{{for item in db.tables:}}
{{if not r.match(item):}}
	<li>{{=A(item,_href=URL('data/select/' + item,user_signature=True))}}</li>
{{pass}}
{{pass}}
</ul>