{{('message' in globals())}}
{{extend 'layout.html'}}


{{if load_ajax_view:}}


<div id="tabs">
<ul>
<li><a href="#tabs-1">IP</a></li>
<li><a href="{{=URL('ips','ajaxHistory',vars={'id':form_id}, user_signature=True)}}">History</a></li>
<li><a href="{{=URL('ips','ajaxAttributes',vars={'id':form_id}, user_signature=True)}}">Attributes</a></li>
</ul>
<div id="tabs-1">
{{=form}}
</div>
</div>

<script type="text/javascript">
$(function() {
    $( "#tabs" ).tabs({
        beforeLoad: function( event, ui ) {
            ui.jqXHR.error(function() {
                ui.panel.html(
                    "Couldn't load this tab. We'll try to fix this as soon as possible.");
            });
        }
    });
});

</script>


{{else:}}
{{=form}}
{{pass}}