<div id="tabs">
<ul>
<li><a href="#tabs-1">{{=table}}</a></li>
{{if table != 'network_segment' and table != 'location':}}
<li><a href="#tabs-2">Attributes</a></li>
{{pass}}
<li><a href="#tabs-3">History</a></li>
</ul>
<div id="tabs-1">
{{if 'form' in globals():}}
{{=form}}
{{pass}}
</div>
{{if table != 'network_segment' and table != 'location':}}
<div id="tabs-2">
 {{=LOAD(c='default',f='ajaxAttributes',vars=request.vars,ajax=True,ajax_trap=True,target='tabs-2')}}
</div>
{{pass}}
<div id="tabs-3">
{{=LOAD(c='default',f='ajaxHistory',vars=request.vars,ajax=True,ajax_trap=True,target='tabs-3')}}
</div>
</div>

<script type="text/javascript">
$(function() {
    $( "#tabs" ).tabs();
});
</script>