{{left_sidebar_enabled=True,('message' in globals())}}
{{extend 'layout.html'}}

{{block head}}
{{include 'fancytree_menu_js.html'}}
{{end}}

{{if 'message' in globals():}}
<h3>{{=message}}</h3>

<h4>{{=T('Welcome to IPAM!')}}</h4>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
