{{if 'form' in globals():}}
{{=form}}

<div id="dialog-form" title="Allocate IPs">
<form id="allocate-ip-form">
<fieldset>
<input type="hidden" id="netblock_id" name="netblock_id" value="{{=netblock_id}}">
<label for="num_ips">Number of IPs</label>
<input type="text" name="num_ips" id="num_ips" value="1" class="text ui-widget-content ui-corner-all">
<label for="owner">Owner</label>
<input type="text" name="owner" id="owner" value="" class="text ui-widget-content ui-corner-all">
<label for="owner_type_id">Owner Type</label>
<select name="owner_type_id" id="owner_type_id" class="text ui-widget-content ui-corner-all">
<option>choose one</option>
</select>
<label for="primary">First IP Primary</label>
<input type="checkbox" name="primary" id="primary" value="1" class="text ui-widget-content ui-corner-all">
<!-- Allow form submission with keyboard without duplicating the dialog button -->
<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
</fieldset>
</form>
</div>


<p>&nbsp;</p>
<button id="allocate-ips">Allocate IP(s)</button>


<script type="text/javascript">
$("#ui-tabs-1").on("click", "a", function (e) {
    $("#ui-tabs-1").load($(this).attr("href"));
    e.preventDefault();
});
// Reference: http://jqueryui.com/dialog/#modal-form
jQuery(document).ready(function(){
     var dialog, form;

    function allocateIPs() {
        var url = '{{=URL(c='netblock', f='freeIps.load')}}';
        ajax(url, ['netblock_id', 'owner', 'owner_type_id', 'num_ips'], 'dialog-form');
    }

    function populateOwnerTypes() {
        $.ajax({
            type: 'GET',
            url: "{{=URL(c='default', f='api', args=['owner_types.json'])}}",
            success: function(data) {
                data = data.content;
                $(data).each(function() {
                    var option = $('<option />');
                    option.attr('value', this.id).text(this.description);
                    $('#owner_type_id').append(option);
                });
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus);
            },
            dataType: "json"
        });
    }

    dialog = $( "#dialog-form" ).dialog({
        autoOpen: false,
        height: 700,
        width: 500,
        modal: true,
        buttons: {
            "Request IP(s)": allocateIPs,
            Cancel: function() {
                dialog.dialog( "close" );
            }
        },
        close: function() {
            //form[ 0 ].reset();
            $('#allocate-ip-form').remove();
            //allFields.removeClass( "ui-state-error" );
        }
    });

     form = dialog.find( "form" ).on( "submit", function( event ) {
        event.preventDefault();
        allocateIPs();
     });
    $( "#allocate-ips" ).button().on( "click", function() {
        dialog.dialog( "open" );
    });

    populateOwnerTypes();
});
</script>


{{pass}}