<div id="tabs">
<ul>
<li><a href="#tabs-1">Netblock</a></li>
<li><a href="{{=URL('netblock','ajaxIps',vars=request.vars)}}">IPs</a></li>
<li><a href="{{=URL('netblock','ajaxHistory',vars=request.vars)}}">History</a></li>
<li><a href="{{=URL('netblock','ajaxAttributes',vars=request.vars)}}">Attributes</a></li>
<li><a href="{{=URL('netblock','stats.load',vars=request.vars)}}">Stats</a></li>
</ul>
<div id="tabs-1">
{{block tab_content}}{{end}}
</div>
</div>

<script>
$(function() {
    $( "#tabs" ).tabs({
        beforeLoad: function( event, ui ) {
            ui.jqXHR.error(function() {
                ui.panel.html(
                    "Couldn't load this tab. We'll try to fix this as soon as possible.");
            });
        }
    });
});
</script>